@namespace BitBlazor.Components

@inherits BitComponentBase

<CascadingValue Value="this">
    <div class="link-list-wrapper">
        <ul class="link-list avatar-group">
            @ChildContent
        </ul>
    </div>
</CascadingValue>
