@namespace BitBlazor.Utilities 

<svg class="@ComputedCssClasses" @attributes="attributes">
    @if (!string.IsNullOrWhiteSpace(Title))
	{
        <title>@Title</title>
	}
    <use href="@Href"></use>
</svg>
