@namespace BitBlazor.Utilities 

@inherits BitComponentBase

<svg class="@ComputeCssClasses()" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Title))
	{
        <title>@Title</title>
	}
    <use href="@Href"></use>
</svg>
