@namespace BitBlazor.Components
@using BitBlazor.Utilities

@if (!closed)
{
    <div class="@ComputedCssClasses" role="alert">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h4 class="alert-heading">@Title</h4>
        }

        @ChildContent

        @if (Dismissible)
        {
            <button type="button" class="btn-close" aria-label="@CloseButtonAriaLabel" @onclick="CloseAsync">
                <BitIcon IconName="@Icons.ItClose" />
            </button>
        }
    </div>
}

