@namespace BitBlazor.Components

@using BitBlazor.Utilities

<div class="it-card-title-icon-wrapper">
    <BitIcon IconName="@Icon"
             Color="IconColor.Primary"
             Role="@IconRole"
             Title="@IconTitle"/>
</div>
