@namespace BitBlazor.Components

<div class="it-card-title-icon-wrapper">
    <BitIcon IconName="@Icon"
             Color="IconColor.Primary"
             Role="@IconRole"
             Title="@IconTitle"
             AdditionalAttributes="AdditionalAttributes"/>
</div>
