@namespace BitBlazor.Components

<div class="it-card-banner-icon-wrapper">
    <BitIcon IconName="@Icon"
             Color="IconColor"
             Size="IconSize.ExtraLarge"
             AriaHidden="AriaHidden"/>
</div>
