@namespace BitBlazor.Components

<div class="it-card-profile-image-icon-wrapper">
    <BitIcon IconName="@Icon"
             Color="@IconColor"
             Size="IconSize.Large"
             AdditionalAttributes="AdditionalAttributes"/>
</div>

