@namespace BitBlazor.Components

@inherits BitComponentBase

<nav class="@ComputeContainerCssClass()">
    <ul>
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </ul>
</nav>
