@inherits TestContext

@code {
    [Fact]
    public void BitPasswordField_Should_Render_Default_Component_Correctly()
    {
        string? value = null;

        var component = Render(
            @<BitPasswordField Label="label"
                               Id="test-passwordfield"
                               @bind-Value="value"/>);

        component.MarkupMatches(
            @<div class="form-group">
                <label class="" for="test-passwordfield">label</label>
                <input type="password" class="form-control input-password" id="test-passwordfield" name="test-passwordfield" />
                <button type="button" class="password-icon btn" role="switch" aria-checked="false">
                    <span class="visibility-hidden">show/hide password</span>
                    <svg class="password-icon-visible icon icon-sm" aria-hidden="true"><use href="/_content/BitBlazor/bootstrap-italia/svg/sprites.svg#it-password-visible"></use></svg>
                    <svg class="password-icon-invisible icon icon-sm d-none" aria-hidden="true"><use href="/_content/BitBlazor/bootstrap-italia/svg/sprites.svg#it-password-invisible"></use></svg>
                </button>
             </div>);
    }

    [Fact]
    public void BitPasswordField_Should_Render_Additional_Text_Correctly()
    {
        string? value = null;

        var component = Render(
            @<BitPasswordField Label="label"
                               Id="test-passwordfield"
                               @bind-Value="value"
                               AdditionalTextId="passwordInfo">
                <AdditionalText>
                    type at least 8 characters
                </AdditionalText>
             </BitPasswordField>);

        component.MarkupMatches(
            @<div class="form-group">
                <label class="" for="test-passwordfield">label</label>
                <input type="password" class="form-control input-password" id="test-passwordfield" name="test-passwordfield" aria-describedby="passwordInfo" />
                <button type="button" class="password-icon btn" role="switch" aria-checked="false">
                    <span class="visually-hidden">show/hide password</span>
                    <svg class="password-icon-visible icon icon-sm" aria-hidden="true"><use href="/_content/BitBlazor/bootstrap-italia/svg/sprites.svg#it-password-visible"></use></svg>
                    <svg class="password-icon-invisible icon icon-sm d-none" aria-hidden="true"><use href="/_content/BitBlazor/bootstrap-italia/svg/sprites.svg#it-password-invisible"></use></svg>
                </button>
                <p id="passwordInfo" class="form-text text-muted d-block small pb-0">type at least 8 characters</p>
             </div>);
    }
}
